# Gradle related files
.gradle/
.idea/
build/
*.env

/bin/


#not adding class files
*.class

#neglect war, jar files
*.jar
*.ear
*.war

#config file to be avoided
configuration.java

.classpath 
.project
.settings